@media (min-width: 1366px){
	.tips-area{
		max-width: 792px;
	}
}

@media (min-width: 1440px){
	.tips-area{
		max-width: 900px;
	}
}


@media (min-width: 1600px){
	.tips-area {
	    max-width: 1024px;
	}
}

@media (min-width: 1680px){
	.tips-area {
	    max-width: 1027px;
	}
}

@media (min-width: 1920px){
	.tips-area {
    	max-width: 1260px;
	}
}

@media (min-width: 2048px){
	.tips-area {
    	max-width: 1377px;
	}
}

@media (min-width: 2400px){
	.tips-area {
    	max-width: 1610px;
	}
}

@media (min-width: 2560px){
	.tips-area {
    	max-width: 1745px;
	}
}