$max-width: 100%;
$sidebar-max-width: 256px;
$margin-left-common: 0px;
$margin-right-common: 0px;
$content-min-height: 1263px;
$body-background: #f6f6f6;
$result-spacing: 18px;
$sidebar-spacing: 18px;
$sidebar-list-spacing: 0;
$result-height: 1200px;
$result-background: #ffffff;
$result-radius: 29px;
$result-width: 81.46%;
$result-list-width: calc(100% - 292px);
$result-list-spacingtop: 26px;
$result-list-spacingleft: 49px;
$result-right-spacing: 333px;
$sidebar-list-minwidth: calc(100% + 15px);

