/* Let's get this party started */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 1px solid transparent;
    background-clip: content-box;   // this is important
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    // border: 1px solid rgb(0,0,0);
}
